{% load staticfiles %}


<script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "bower_components/admin/css/base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "bower_components/admin/css/login.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "bower_components/admin/css/dashboard.css" %}">
<script type="text/javascript">
        function UpladFile() {


            // 获取文件对象
            var fileObj = document.getElementById("id_file").files[0];
            // 接收上传文件的后台地址
            var FileController = "/upload";
            // FormData 对象
            var form = new FormData();
            // 文件对象
            form.append("id_file", fileObj);
            // XMLHttpRequest 对象
            var xhr = new XMLHttpRequest();
            xhr.open("post", FileController, true);
            xhr.onload = function () {
                //console.log("上传完成!");
            };
            xhr.upload.addEventListener("progress", progressFunction, false);
            xhr.send(form);
        }
        function progressFunction(evt) {
            var progressBar = document.getElementById("progressBar");
            var percentageDiv = document.getElementById("percentage");
            if (evt.lengthComputable) {
                progressBar.max = evt.total;
                progressBar.value = evt.loaded;
                percentageDiv.innerHTML = Math.round(evt.loaded / evt.total * 100) + "%";
            }
        }

        $(document).ready(function () {
            $("#Save").click(

                UpladFile()
            )

        })
</script>


<div id="header">
    <div id="branding">
        <h1 id="site-name"><a href="/index/">Home</a></h1></div>
            <div id="user-tools">
                Welcome,<strong>{{ username }}</strong>.
                <a href="/">View site</a> /
                <a href="/logout/">Log out</a>
            </div>
</div>


<div id="container">
<h1 style="color: red">{{ error }}</h1>

<form enctype="multipart/form-data" method="post" action="">
   {% csrf_token %}

    請輸入底下相關資料<br>
   <table>
       {{form.as_table}}
    </table>

    <input type="submit" value="Submit" id="Save"/>

{#    <progress id="progressBar" value="0" max="100"></progress>#}
{#    <span id="percentage"></span>#}
</form>
</div>